@model IEnumerable<Nom1Done.Model.metadataPipelineEncKeyInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PipelineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PipeDuns)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PipelineId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PipeDuns)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $(".table").DataTable();
    })
</script>