@model Nom.ViewModel.NominationPartialDTO


<div class="modal-dialog modal-lg">
    <div class="modal-content animated fadeIn">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Select Locations</h4>
        </div>
        <div class="modal-body">
            <div class="ibox float-e-margins">
                @*<div class="ibox-title">
                    <h5>No of Locations: @Model.Locations.Count</h5>
                </div>*@
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover" id="locationModalTable">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Id</th>
                                <th>PropCode</th>
                                <th>R-D-Bversion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model.Locations)
                            {
                                <tr class="gradeX">
                                    <td><button type="button"  style="background-color:#FF6C3A !important; border-color:#FF6C3A !important;" onclick="CntrLocationPopUpSelect('@item.Name','@item.Identifier','@item.PropCode','@Model.ForRow','@Model.PopUpFor')" class="btn btn-primary">Select</button></td>
                                    <td>@item.Name</td>
                                    <td>
                                        @item.Identifier
                                    </td>
                                    <td>@item.PropCode</td>
                                    <td class="center">@item.RDB</td>
                                </tr>
                            }*@
                        </tbody>                      
                    </table>

                </div>
            </div>
        </div>      
    </div>
</div>

<script>
    $(document).ready(function () {


         $('#locationModalTable').DataTable(
         {
            "searching": true,
            "order": [[1, 'asc']],
            "columnDefs": [
                { "width": "5%", "targets": [0] },
                { "className": "text-left custom-middle-align", "targets": [0, 1, 2, 3] },
                {
                    "orderable": false,
                    "targets":   0
                },
                {
                    "orderable": true,
                    "targets": [1, 2, 3, 4] 
                }
        ],
            "select": {
                "style":    'os',
                "selector": 'td:not(:last-child)'
        },
            "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
        },
            "processing": true,
            "serverSide": true,
            "scrollX": true,
            "scrollCollapse": true,
            "ajax":
                {
                    "url": "/PathedNomination/GetLocationForPopUp",
                    "data":{pipelineDuns : '@Model.PipelineDuns', PopUpFor:'@ViewBag.PopUpFor', IsSpecialDelCase:'@ViewBag.IsSpecialDelCase' },
                    "type": "POST",
                    "dataType": "JSON"
        },
                    "columns": [
                    { "data": "ID",
                   "render": function ( data, type, row ) {
                       var popup="CntrLocationPopUpSelect('"+row.Name+"','"+row.Identifier+"','"+row.PropCode+"','@Model.ForRow','@Model.PopUpFor')";
                       return '<button type="button" style="background-color:#FF6C3A !important; border-color:#FF6C3A !important;" onclick="'+popup+'" class="btn btn-primary">Select</button>';
        },
                    "className": "dt-body-center" },
                    { "data": "Name"},
                    { "data": "Identifier" },
                    { "data": "PropCode" },
                    { "data": "RDB" }
        ]
         });



});
</script>




