@model Nom1Done.DTO.ChangePasswordDTO

@Scripts.Render("/bundles/jqueryval")

<style>
    .field-validation-error {
        color: red;
    }
</style>
@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess",
}))
{
    @Html.HiddenFor(a=>a.UserId)
    <div class="modal-dialog">
        <div class="modal-content" id="password_modal">
            <div class="modal-header">
                <bold><h2>Change Password</h2></bold>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="inputCurrPwd" class="control-label col-sm-4">Current Password</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(a => a.CurrentPassword, new { @class = "form-control", Type = "password" })
                        @Html.ValidationMessageFor(x => x.CurrentPassword)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNewPwd" class="control-label col-sm-4">New Password</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(a => a.NewPassword, new { @class = "form-control", Type = "password" })
                        @Html.ValidationMessageFor(x => x.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCnfPwd" class="control-label col-sm-4">Confirm Password</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control", Type = "password" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                    </div>
                </div>
            </div>
            <div class="modal-footer col-lg-offset-3" style="align-content:center">
                <button type="submit" name="btnSave" class="btn btn-primary  col-sm-4" style="margin:0px 2px; background-color:#ff6c39; border:none">Save Changes</button>
                <button type="button" class="btn btn-primary  col-sm-4" data-dismiss="modal" style="margin:0px 2px; background-color:#ff6c39; border:none" >Cancel</button>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#UserId").val($("#HiddenUserId").val());        
    });    
    function OnSuccess(e) {
        if (e.result == "Not Matched") {
            toastr.warning("Current Password does not match");
        }
        if (e.result == "Success") {
            toastr.success("Password Updated Successfully");
            $('#ChangePasswordModal').modal("hide");
            $('#ChangePasswordModalLogin').modal("hide");
        }
        if (e.result == "Not Updated") {
            toastr.warning("Error Updated Password");
        }
    }
</script>

