@model Nom1Done.DTO.WatchListDTO
@using Nom1Done.Enums
@using Nom1Done.DTO;
@{
    Guid CurrentRowId = Guid.NewGuid();
    var LocProp = "Select";
}


<tr id="RuleListItem_@CurrentRowId" class="newWatchListRule" rel="@CurrentRowId">
    @Html.Hidden("RuleList.Index", CurrentRowId.ToString())
    <td>
        @Html.DropDownList("RuleList[" + CurrentRowId + "].PipelineDuns", new SelectList(ViewBag.PipelineId, "DUNSNo", "Name", Model.RuleList[0].PipelineDuns), "-Select Pipeline-", new { @class = "WatchListPipeDropdown form-control", rel = CurrentRowId, @onChange = "OnChangePipelineSelect(" + "'" + CurrentRowId + "'" + ")" })
    </td>
    @if (Model.DatasetId != EnercrossDataSets.SWNT)
    {
        @*<td>
                @Html.DropDownList("RuleList[" + CurrentRowId + "].LocationIdentifier", new SelectList(ViewBag.LocationIdentifier, "Identifier", "Name", Model.RuleList[0].LocationIdentifier), "-Select Location-", new { @class = "WatchListLocDropdown form-control", rel = CurrentRowId, disabled = "disabled" })
            </td>*@
    <td class="cursor">
        <button type="button" class="btn btn-success btn-outline" style="text-align:start; width:200px !important;" onclick="OpenPopUp('@Model.DatasetId','@CurrentRowId')">
            Select
        </button>
        @Html.Hidden("RuleList[" + CurrentRowId + "].LocationIdentifier", Model.RuleList[0].LocationIdentifier, new { @rel = CurrentRowId })
    </td>
    }
    else
    {
        <td>
            @Html.DropDownList("RuleList[" + CurrentRowId + "].IsCriticalNotice", new SelectList(new List<Object>{
             new { value = "true" , text = "Critical"  },
             new { value = "false" , text = "Non-Critical" }
            }, "value", "text", Model.RuleList[0].IsCriticalNotice), "-Select NoticeType-", new { @class = "WatchlistNoticeTypeDropDown form-control", rel = CurrentRowId })
        </td>
    }
    <td>
        @Html.CheckBox("RuleList[" + CurrentRowId + "].AlertSent", @Model.RuleList[0].AlertSent, new { @class = "toggleBtn" })
    </td>
    <td>
        @Html.DropDownList("RuleList[" + CurrentRowId + "].AlertFrequency", new SelectList(new List<Object>{
         new { value = WatchlistAlertFrequency.Daily , text = "Daily"  },
         new { value = WatchlistAlertFrequency.WhenAvailable , text = "When Available" }
        }, "value", "text", Model.RuleList[0].AlertFrequency), "-Select-", new { @class = "WatchlistAlertFreq form-control", rel = CurrentRowId })
    </td>
    <td>
        @if (Model.DatasetId == EnercrossDataSets.UNSC)
        {
            List<WatchListProperty> list = ViewBag.Properties;
            var prop = list.FirstOrDefault();
            <span data-toggle="modal">
                @prop.Title
            </span>@Html.Hidden("RuleList[" + CurrentRowId + "].PropertyId", prop.Id, new { @rel = CurrentRowId })
        }
        else
        {
            @Html.DropDownList("RuleList[" + CurrentRowId + "].PropertyId", new SelectList(ViewBag.Properties, "Id", "Title", Model.RuleList[0].PropertyId), "-Select Field-", new { @class = "WatchlistField form-control propertySelect", rel = CurrentRowId, @onChange = "OnChangePropertySelect(" + "'" + CurrentRowId + "'" + ")" })
        }
        <input id="PropertyDataType_@CurrentRowId" type="hidden" value="" />
    </td>
    <td>
        @Html.DropDownList("RuleList[" + CurrentRowId + "].ComparatorsId", new SelectList(ViewBag.Operators, "Id", "Title", Model.RuleList[0].ComparatorsId), "-Select Operator-", new { @class = "WatchlistOper form-control", rel = CurrentRowId })
    </td>
    <td>
        @Html.TextBox("RuleList[" + CurrentRowId + "].value", Model.RuleList[0].value, new { @class = "form-control", @rel = CurrentRowId, @title = "Type exact word or phrase with no quotes for e.g. Shadyside meter" })
    </td>
    <td>
        <a class="btn" href="#" onclick="onclickDeleteRule(this);">
            <i class="fa fa-times-circle glyphicon-color" aria-hidden="true" title="Delete"></i>
        </a>
    </td>
</tr>

<script>
    $(function () {
        toggelBtn();
    });
    $(".WatchListPipeDropdown,.WatchListLocDropdown,.WatchlistNoticeTypeDropDown,.WatchlistAlertFreq, .WatchlistField, .WatchlistOper").select2();
</script>
