@model Nom1Done.Model.PipelineEDISetting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PipelineEDISetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PipeDuns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PipeDuns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISA08_segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISA08_segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISA06_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISA06_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISA11_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISA11_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISA12_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISA12_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISA16_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISA16_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GS01_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GS01_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GS02_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GS02_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GS03_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GS03_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GS07_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GS07_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GS08_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GS08_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST01_Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST01_Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSeparator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSeparator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegmentSeperator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegmentSeperator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatasetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatasetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipperCompDuns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipperCompDuns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendManually)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendManually)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForOacy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForOacy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForUnsc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForUnsc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForSwnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForSwnt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
